@model IEnumerable<EletronicSystem.Business.ViewModels.ProdutoViewModel>
@using Microsoft.AspNetCore.Identity
@using EletronicSystem.Domain.Entities;
@inject SignInManager<Usuario> SignInManager

@{
    ViewData["Tittle"] = "Lista de produtos";
}

<div class="navbar">
    <h1>Produtos no Carrinho</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Descriçao</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            var clienteNome = User?.Identity?.Name?.ToString();


            @foreach (var produto in Model)
            {
                <tr>
                    @if (produto.Foto != null)
                    {
                        var base64 = Convert.ToBase64String(produto.Foto);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <td><img src="@imgSrc" alt="" width="100" height="100" /></td>
                    }
                    <td>@produto.Descricao</td>
                    <td>@produto.Valor</td>
                    <td>@produto.Categoria</td>
                    <td><a asp-controller="Carrinho" asp-action="ExcluirItemCarrinho" asp-route-produtoId="@produto.Id" asp-route-clienteNome="@clienteNome">Excluir</a></td>
                </tr>
            }
        }
    </tbody>
</table>
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}

@if (TempData["Erros"] != null)
{
    <div class="alert alert-danger">@TempData["Erros"]</div>
}
