@model IList<EletronicSystem.Business.ViewModels.UsuarioViewModel>;


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Nascimento</th>
            <th>Endereco</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var usuario in Model)
            {
                <tr>
                    <td> @usuario.Nome</td>
                    <td>@usuario.UserName</td>
                    <td>@usuario.DataNascimento</td>
                    <td>@usuario.Endereco</td>
                    <td><a asp-action="Update" asp-route-id="@usuario.Id">Editar</a></td>
                    <td><a asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.Id">Excluir</a></td>
                </tr>
            }
        }
    </tbody>
</table>