@model IEnumerable<EletronicSystem.Business.ViewModels.ProdutoViewModel>
@using Microsoft.AspNetCore.Identity
@using EletronicSystem.Domain.Entities;
@inject SignInManager<Usuario> SignInManager

@{
    ViewData["Title"] = "Home Page";
}
<div class="mb-3" style="max-width: 840px;">
    <div class="row g-0">
        <div class="col-md-4 order-2">
            <img src="/Img/MacBook Notebook.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 order-1">
            <div class="card-body">
                <h3 class="card-title">Menor preço do mercado</h3>
                <p class="card-text">Todos os produtos com garantia de 2 anos,entregamos em ate 24h apos o pagamento.</p>
            </div>
        </div>
    </div>

    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success">@TempData["Sucesso"]</div>
    }

    @if (TempData["Erros"] != null)
    {
        <div class="alert alert-danger">@TempData["Erros"]</div>
    }
</div>
<div class="d-flex flex-wrap gap-3 justify-content-start">
    @if (Model != null && Model.Any())
    {
        var clienteNome = User?.Identity?.Name?.ToString();

        @foreach (var produto in Model)
        {
            <div class="card" style="width: 18rem;">

                @if (produto.Foto != null)
                {
                    var base64 = Convert.ToBase64String(produto.Foto);
                    var imgSrc = $"data:image/jpeg;base64,{base64}";
                    <img class="card-img-top" src="@imgSrc" alt="" width="150" />
                }
                <div class="card-body">
                    <h5 class="card-title">@produto.Descricao</h5>
                    <p class="card-text">Preço: R$ @produto.Valor</p>
                    <p class="card-text">Categoria: @produto.Categoria</p>

                    <a class="btn btn-primary btn-lg" asp-controller="Carrinho" asp-action="AdicionarItemAlista" asp-route-produtoId="@produto.Id"  asp-route-clienteNome="@clienteNome">Adicionar ao Carrinho</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>Nenhum produto encontrado para a categoria selecionada.</p>
    }

</div>
