@model IEnumerable<EletronicSystem.Business.ViewModels.ProdutoViewModel>

@{
    ViewData["Tittle"] = "Lista de produtos";
}

<div class="navbar">
    <h1>Lista de Produtos</h1>
    <a class="btn btn-primary btn-lg" asp-controller="Produto" asp-action="Create">+ Produtos</a>
</div>

<table class="table">
    <tread>
        <th>Descriçao</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th></th>
        <th></th>
    </tread>
    <tbody>
        @if(Model != null)
        {
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Foto</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Valor</td>
                    <td>@produto.Categoria</td>
                    <td><a asp-action="Update" asp-route-id="@produto.Id">Editar</a></td>
                    <td><a asp-controller="Produto" asp-action="Delete" asp-route-id="@produto.Id">Excluir</a></td>
                </tr>
            }
        }
    </tbody>
</table>



@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}

@if (TempData["Erros"] != null)
{
    <div class="alert alert-danger">@TempData["Erros"]</div>
}